---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    爱打游戏的飞行员
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="col-md-3"><i class="fa fa-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="499621037@qq.com">vic· qqmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
